<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--build profile vaue is dev or prod-->
    <add key="build.profile.active" value="prod" />

    <add key="ApiBaseUrlDev" value="http://192.168.10.164:8090/casapi/" />
    <add key="ApiBaseUrlProd" value="https://snsopafis.southsudansafetynet.info/afis/" />

    <add key="ApiAfisBaseUrlDev" value="http://192.168.10.165:8090/afis/" />
    <add key="ApiAfisBaseUrlProd" value="https://rabcdms.rab.gov.bd/afis/" />

    <add key="UpdateUrlDev" value="http://192.168.10.165:8070/cdms/" />
    <add key="UpdateUrlProd" value="https://dl.rab.gov.bd/update/" />

	<add key="ApiJailAfisBaseUrlProd" value="https://rabcdms.rab.gov.bd/jailafis/" />
	  
	<add key="ApiBaseUrlProfileManagementDev" value="http://192.168.10.164:8090/profilemanagement/" />
    <add key="ApiBaseUrlProfileManagementProd" value="http://192.168.10.164:8090/profilemanagement/" />

    <!-- Login -->
    <add key="AuthEndpoint" value="api/auth/login" />
    <add key="BeneficiaryRegistrationEndpoint" value="api/beneficiary/register" />
    <add key="BatchBeneficiaryRegistrationEndpoint" value="api/beneficiary/register/batch" />
    <add key="HeartbeatSendIntervalInMillisecond" value="300000" />
    <!-- Login -->
	  
	<!-- Jail DB -->
	<add key="JailDbBiometricMatchEndpoint" value="identify" />
	<!-- Jail DB -->
	  
	<!-- Profile Management -->
	<add key="ProfileManagementAuthEndpoint" value="api/auth/login"/>
	<add key="ProfileManagementEnrollmentEndpoint" value="profile/enrollment"/>
	<add key="ProfileManagementProfileSearchEndpoint" value="profile/biometricInformationSearch"/>
	<add key="ProfileManagementGetByteDataEndpoint" value="profile/getByte"/>
	<!-- Profile Management -->

    <!-- User -->
    <add key="AddUserEndpoint" value="user/add" />
    <add key="UpdateUserEndpoint" value="user/update" />
    <add key="SearchUserEndpoint" value="user/search" />
    <add key="UserActivationEndpoint" value="user/activate_client_update" />
    <add key="UserDeactivationEndpoint" value="user/deactivate" />
    <!-- User -->

    <!-- Profile -->
    <add key="CheckEnrolledHashEndpoint" value="profile/checkEnrolledHash" />
    <add key="ProfileSubmitEndpoint" value="profile/submit" />
    <add key="BiometricUploadEndpoint" value="profile/upload/biometric" />
    <add key="FingerprintUploadEndpoint" value="profile/upload/fingerprint" />
    <add key="IrisUploadEndpoint" value="profile/upload/iris" />
    <add key="PhotoUploadEndpoint" value="profile/upload/photo" />
    <add key="GetNotVerifiedHashListEndpoint" value="profile/getNotVerifiedHashList" />
    <add key="GetByteDataEndpoint" value="profile/getByte" />
    <!-- Profile -->

    <!-- Lookup -->
    <add key="AllNationalityEndpoint" value="api/lookup/nationality/all" />
    <add key="AllDivisionEndpoint" value="api/lookup/division/all" />
    <add key="AllDistrictEndpoint" value="api/lookup/district/all" />
    <add key="AllUpazillaEndpoint" value="api/lookup/upazila/all" />
    <add key="GetUpazillaListByDistrictEndpoint" value="api/lookup/upazila/by/districtId" />
    <add key="AllUnionEndpoint" value="api/lookup/union/all" />
    <add key="GetUnionListByUpazillaEndpoint" value="api/lookup/union/by/upazilaId" />
    <add key="GetAllUnitsEndpoint" value="api/lookup/unit/all" />
    <add key="GetAllSubUnitsEndpoint" value="api/lookup/subUnit/all" />
    <add key="GetSubUnitsByStationEndpoint" value="api/lookup/subUnit/by/unit" />
    <add key="GetRecoveryEndpoint" value="api/lookup/search" />
    <add key="GetAllCrimeTypeEndpoint" value="api/lookup/crimeType/all" />
    <!-- Lookup -->

    <!-- Adjudication -->
    <add key="AdjudicateEndpoint" value="adjudication/adjudicate" />
    <add key="AdjUpdateMatchStatusEndpoint" value="adjudication/adjudicated" />
    <add key="GetMatchListEndpoint" value="adjudication/getMatchList" />
    <add key="GetMatchListIDsEndpoint" value="adjudication/getMatchListIds" />
    <add key="EnrollmentIdentifyEndpoint" value="enrollment/identify" />
    <!-- Adjudication -->

    <!-- Enrollment Controller -->
    <add key="EnrollmentAddEndpoint" value="enrollment/add" />
    <add key="EnrollmentDetailsEndpoint" value="enrollment/details" />
    <add key="EnrollmentListEndpoint" value="enrollment/list" />
    <add key="EnrollmentSummaryEndpoint" value="enrollment/summary" />
    <add key="EnrollmentUpdateEndpoint" value="enrollment/update" />
    <add key="ThreadSleepTimeInMS" value="5000" />
    <!-- Enrollment Controller -->

    <!-- Search Criminal User -->
    <add key="SearchCriminalUserEndpoint" value="profile/profileSearchSummary" />
    <add key="SearchProfileEndpoint" value="profile/profileSearch" />
    <!-- Search Criminal User -->

    <!-- Work Station -->
    <add key="SendHeartbeatEndpoint" value="misc/work-station/imalive" />
    <!-- Work Station -->

    <!-- Misc -->
    <add key="GetBECidentifyEndpoint" value="misc/bec/identification" />
    <add key="GetBECverifyEndpoint" value="misc/bec/verification" />
    <add key="GetRabGeoMapEndpoint" value="misc/rab_geo_map/list" />
    <add key="GetRabDistrictEndpoint" value="misc/rab_district/list" />
    <add key="GetRabUpazilaEndpoint" value="misc/rab_upazila/list" />
    <add key="BecNidIdentificationRequestEndpoint" value="misc/bec/identification/request" />
    <add key="BecNidIdentificationResultEndpoint" value="misc/bec/identification/result" />
    <!-- Misc -->

    <!-- Special -->
    <add key="SpecialProfileSubmitEndpoint" value="special/profile/submit" />
    <add key="CheckSpecialEnrolledHashEndpoint" value="special/profile/checkEnrolledHash" />
    <add key="GetSpecialNotVerifiedHashListEndpoint" value="special/profile/getNotVerifiedHashList" />
    <add key="GetSpecialProfileListEndpoint" value="special/profile/profileSearch" />
    <add key="GetSpecialCountEndpoint" value="special/count/search" />
    <add key="SubmitSpecialCountEndpoint" value="special/count/submit" />
    <!-- Special -->
	  
	<!-- Not Entry -->
	<add key="NotEntryProfileSubmitEndpoint" value="noentry/save"/>
	<add key="SearchNotEntryProfileEndpoint" value="noentry/search"/>
	<!-- Not Entry -->

    <!-- Report -->
    <add key="CriminalReportEndpoint" value="report/criminalReport/desktop" />
    <add key="DailyReportEndpoint" value="report/dailyReport/desktop" />
    <add key="SpecialCriminalReportEndpoint" value="report/specialCriminalReport/desktop" />
    <add key="ReportResultEndpoint" value="report/reportResult/desktop" />
    <add key="DeleteReportEndpoint" value="report/deleteReport/desktop" />
    <add key="CriminalHistoryReportEndpoint" value="report/criminalHistoryReport/desktop" />
    <add key="CriminalProfileReportEndpoint" value="report/criminalProfileReport/desktop" />
    <add key="CrimeTypeWiseReportEndpoint" value="report/crimeTypeWiseReport/desktop" />
    <!-- Report -->

    <add key="DashboardSummaryEndpoint" value="dashboard/criminalSummary"/>

    <!-- File size -->
    <add key="PhotoSizeInKB" value="5120000"/>
    <add key="FPSizeInKB" value="307200"/>
    <add key="IrisSizeInKB" value="5120000"/>
    <add key="FIRSizeInKB" value="3072000"/>
    <add key="ComplainSizeInKB" value="3072000"/>
    <add key="SeizureSizeInKB" value="3072000"/>
    <!-- File size -->

    <add key="NIDIdentifyTimeLimitInSeconds" value="180"/>
    <add key="NidSearchTimeIntervalInMS" value="10000"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>