<?xml version="1.0" encoding="utf-8"?>
<AppConfig>
  <AppSettings>
    <EyeRegions>
      <RelativeSize>
        <Width>32</Width>
        <Height>42</Height>
      </RelativeSize>
      <LeftEye>
        <Top>37</Top>
        <Left>56</Left>
      </LeftEye>
      <RightEye>
        <Top>37</Top>
        <Left>8</Left>
      </RightEye>
    </EyeRegions>
    <CameraSettings>
      <Vflip>true</Vflip>
      <Hflip>true</Hflip>
      <IRBrightness>100</IRBrightness>
      <AnalogGain>2</AnalogGain>
      <ExposureTime>30000</ExposureTime>
      <Denoise>false</Denoise>
      <ChannelEqualization>true</ChannelEqualization>
    </CameraSettings>
    <PreviewSettings>
      <PreviewFormat>Bitmap</PreviewFormat>
      <ImageSubSample>2</ImageSubSample>
    </PreviewSettings>
    <AutoCaptureSettings>
      <QualityThreshold>75</QualityThreshold>
      <OverrideTimeout>20</OverrideTimeout>
    </AutoCaptureSettings>
  </AppSettings>
</AppConfig>
